<!DOCTYPE html>
<html lang="en" ng-app="demo">

<head>
    <title>Dont Panic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="restangular/dist/restangular.min.js"></script>
</head>

<body>
     <!-- Our very basic bootstram interface -->
    <div class="container">
        <h1>Simple name search</h1>
        <p>Please enter part of the name you wish to search below:</p>

        <!-- Beginning of our AngularJS application. -->
        <div ng-controller="search">
            <div>
                <input ng-model="searchstring" type="text" placeholder="Name to search">
            </div>
            <div>
                <button id="search-button" ng-click="SearchNames()">Search</button>
            </div>

            <div id="result">
                {{comment}}
                <table class="table">
                    <tr>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                    </tr>
                    <tr ng-repeat="x in names">
                        <td> {{x.name.first}} </td>
                        <td> {{x.name.last}} </td>
                    </tr>
                </table>
            </div>
            <!-- id="result" -->
        </div>
        <!-- ng-controller="search" -->
    </div>
    <!-- End of our AngularJS application. -->

<!-- Our search function is required to get the results. -->
<script src="js/search.js"></script>
</body>
</html>